.app{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f3f2ef;
}
.app__body{
    display:flex;
    margin-left: 20px;
    margin-right:20px;
    min-width:1200px;
    margin-top:35px;
}
